<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Board</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <style>
        .big-width {display: block;}
        .small-width {display: none;}

        @media (max-width: 918px) {
            .writer {display: none;}
            .regDate {display: none;}
            .updateDate {display: none;}
        }
    </style>
</head>
<body class="is-preload">
<!-- Main -->
<div id="main">
    <div class="wrapper">
        <div class="inner">

            <!-- Elements -->
            <header class="major">
                <h1>Board</h1>
                <p>게시판 목록</p>
            </header>
            <!--href에 알맞는 URL 설정-->
            <h3><a href="/board/register" class="button small">글 등록</a></h3>
            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr class="tHead">
                        <th class="bno">번호</th>
                        <th class="title">제목</th>
                        <th class="writer">작성자</th>
                        <th class="regDate">작성일</th>
                        <th class="updateDate">수정일</th>
                    </tr>
                    </thead>
                    <tbody>
                    <th:block th:each="board : ${list}">
                        <tr class="tBody" th:object="${board}">
                            <td class="bno" th:text="*{bno}"></td>
                            <td class="title"><a th:href="@{/board/read(bno=*{bno})}" th:text="*{title}"></a></td>
                            <td class="writer" th:text="*{writer}"></td>
                            <td class="regDate" th:text="*{regDate}"></td>
                            <td class="updateDate" th:text="*{updateDate}"></td>
                        </tr>
                    </th:block>
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
                <div th:object="${pageMaker}">
                    <div class="big-width" style="text-align: center">
                        <a class="changePage" th:if="*{prev}" th:href="*{startPage - 1}"><code>&lt;</code></a>
                        <th:block th:each="num : ${#numbers.sequence(pageMaker.getStartPage(), pageMaker.getEndPage())}">
                            <code th:if="${pageMaker.criteria.getPageNum() == num}" th:text="${num}"></code>
                            <a class="changePage" th:unless="${pageMaker.criteria.getPageNum() == num}" th:href="${num}"><code th:text="${num}"></code></a>
                        </th:block>
                        <a class="changePage" th:if="*{next}" th:href="*{endPage + 1}"><code>&gt;</code></a>
                    </div>
                    <div class="small-width">
                    </div>
                    <form action="/board/list" th:object="${criteria}" name="pageForm">
                        <input type="hidden" name="pageNum" th:field="*{pageNum}">
                        <input type="hidden" name="amount" th:field="*{amount}">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.dropotron.min.js"></script>
<script src="/js/browser.min.js"></script>
<script src="/js/breakpoints.min.js"></script>
<script src="/js/util.js"></script>
<script src="/js/main.js"></script>
</body>
<script th:inline="javascript">
    /*수정 확인*/
    // 글 등록 시 전달받는 게시글 번호를 alert으로 출력
    let pageForm = $(document.pageForm);

    $(document).ready(function(){
        let bno = [[${bno}]];

        if(bno == null){
            return;
        }
        alert("게시글 " + bno + "번이 등록되었습니다.");
    });

    $("a.changePage").click(function(e){
        e.preventDefault();
        pageForm.find("input[name='pageNum']").val($(this).attr("href"));
        pageForm.submit();
    });
</script>
</html>